@import url(https://fonts.bunny.net/css?family=abeezee:400);

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'ABeeZee', sans-serif;
}

.home-heading {
    font-size: 31px;
    margin-bottom: 0.8rem;
    font-weight: 800;
    text-align: center;
}

.home-para {
    margin: 2rem 0rem;
    font-size: 18px;
}

.chapter1-btn {
    padding: 1rem 1.9rem;
    margin: 0.5rem 0.5rem 1.6rem 0.5rem;
    font-size: 18px;
    color: white;
    background: blue;
    border: none;
    border-radius: 10px;
}

.chapter1-btn:hover {
    transition: 0.4s ease;
    transform: translatey(-10%);
    background: rgb(10, 10, 222);
    font-weight: 800;
}

.chapter1-btn:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.warning-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem !important;
}

.warning {
    border: 3px solid red;
    border-radius: 12px;
    padding: 1rem;
    color: white;
    background: red;
    ;

}

.access-scriptJs li {
    font-size: 15px !important;
    margin-left: 2rem;
}