@import url(https://fonts.bunny.net/css?family=abeezee:400);

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'ABeeZee', sans-serif !important;
}

a {
    text-decoration: none;
}

/* --- Global CSS --- */

.bold-800 {
    font-weight: 800 !important;
}


.containere {
    min-height: 100vh;
    padding: 1rem 0rem !important;
    background: linear-gradient(90deg, rgba(37, 138, 252, 0.100) 27.64%, rgba(136, 91, 255, 0.100) 43.42%, rgba(213, 23, 247, 0.100) 58.83%, rgba(246, 173, 109, 0.100) 81.81%);
}

.chapter-heading {
    font-size: 40px;
    margin-bottom: 1rem;
}

.global-para {
    font-size: 19px;
    letter-spacing: 0.5px;
    margin-bottom: 0.1rem !important;
}

.global-btn-prop {
    margin: 1.5rem 1.5rem 1.5rem 0rem;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 12px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1.4px;
}

.global-btn-prop:hover {
    transition: 0.2s ease;
    transform: translatey(-10%);
}

.global-btn-prop:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.previous-chapter-btn {
    background: rgb(255, 230, 0);
}

.previous-chapter-btn:hover {
    background: rgb(255, 170, 0);
}

.home-page-btn {
    background: rgb(28, 244, 28);
}

.home-page-btn:hover {
    background: greenyellow;
}

.next-chapter-btn {
    background: rgb(255, 0, 183);
    color: rgb(255, 255, 255);
}

.next-chapter-btn:hover {
    background: rgb(236, 3, 123);
}