@import url(https://fonts.bunny.net/css?family=abeezee:400);

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'ABeeZee', sans-serif;
}

/* --- Global CSS --- */



.containere {
    min-height: 100vh;
    padding: 1rem 4rem !important;
    background: linear-gradient(90deg, rgba(37, 138, 252, 0.100) 27.64%, rgba(136, 91, 255, 0.100) 43.42%, rgba(213, 23, 247, 0.100) 58.83%, rgba(246, 173, 109, 0.100) 81.81%);
}

.mainheading {
    margin: 0.5rem 0rem;
}

.con-list li {
    margin: 0.8rem 0rem 0rem 2rem;
}