* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
    background: linear-gradient(90deg, rgba(37, 138, 252, 0.1) 27.64%,
            rgba(136, 91, 255, 0.1) 43.42%,
            rgba(212, 23, 247, 0.1) 58.83%,
            rgba(246, 173, 109, 0.1) 81.81%);
}

body {
    padding: 0rem;

}