@import url(https://fonts.bunny.net/css?family=abeezee:400);

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'ABeeZee', sans-serif;
}

a {
    text-decoration: none;
}

/* --- Ch4 CSS --- */
.mainheading {
    margin: 0.5rem 0rem;
}

.programs-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.con-list li {
    margin: 1rem 0rem 0rem 1.5rem;
}